In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("./full_transformed_diabetic_data.csv")
df.head(10)

,age,time_in_hospital,num_medications,number_diagnoses,insulin,A1Cresult,readmitted
0,0,0,-1,-1,0,0,0
1,1,2,-1,1,3,0,1
2,2,1,-1,0,0,0,0
3,3,1,-1,1,3,0,0
4,4,0,-1,0,2,0,0
5,5,2,-1,1,2,0,1
6,6,2,0,1,2,0,0
7,7,3,-1,1,0,0,1
8,8,8,0,1,2,0,0
9,9,7,-1,1,2,0,0

In [4]:
for col in df:
    print(f"{col}: {len(df[col].unique())}")

age: 10
time_in_hospital: 9
num_medications: 3
number_diagnoses: 6
insulin: 4
A1Cresult: 4
readmitted: 3

In [6]:
# Define the column names and their unique value counts
column_info = {
    'age': 10,
    'time_in_hospital': 9,
    'num_medications': 3,
    'number_diagnoses': 6,
    'insulin': 4,
    'A1Cresult': 4,
    'readmitted': 3
}

# Rename columns with the new naming convention
new_colnames = [f"x{index}_discrete_{unique_vals}" for index, (col, unique_vals) in enumerate(column_info.items())]

# Assign the new column names to the DataFrame
df.columns = new_colnames

df.head(5)

,x0_discrete_10,x1_discrete_9,x2_discrete_3,x3_discrete_6,x4_discrete_4,x5_discrete_4,x6_discrete_3
0,0,0,-1,-1,0,0,0
1,1,2,-1,1,3,0,1
2,2,1,-1,0,0,0,0
3,3,1,-1,1,3,0,0
4,4,0,-1,0,2,0,0

In [7]:
# Export training data to a CSV file
df.to_csv('../data/full_masked_transformed_diabetic_data.csv', index=False)